{
	"parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true 
        },
        "parser": "babel-eslint"
    },
    "rules":{
        "no-alert": 0,
		"strict": 2,
		"semi": 1,
		"quotes": 0
    }
}